
.mainsection {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
  }
  
  .buttons-container {
    grid-column-gap: 75px;
    grid-row-gap: 75px;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }
  
  .blur-button {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: #692700;
    letter-spacing: normal;
    cursor: pointer;
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 5px;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    font-weight: 400;
    display: flex;
    position: relative;
  }
  
  
  .blur-span {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    filter: none;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 14px;
    transition: filter .2s;
    display: block;
  }
  
  .blur-span.volumeslider {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    filter: none;
    letter-spacing: .1px;
    white-space: normal;
    overflow-wrap: normal;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    transition-property: none;
    display: block;
  }
  
  .icon-container {
    background-color: #7a2d0047;
    border-radius: 10px;
    padding: 15px 20px;
    position: relative;
    overflow: hidden;
  }
  
  .icon.icon-left {
    position: absolute;
    top: 15px;
    left: -25px;
    overflow: visible;
  }
  
  .icon.icon-left-2 {
    position: absolute;
    top: 15px;
    left: auto;
    right: -25px;
    overflow: visible;
  }
  
  .div-block {
    align-self: center;
  }
  
  .paragraph {
    justify-content: center;
    align-items: center;
    height: 1rem;
    margin-bottom: 0;
    display: flex;
  }
  
  .volume-button {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
    mix-blend-mode: normal;
    background-color: #1d1d1d;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    display: flex;
  }
  
  .volume-bars {
    opacity: .5;
    background-color: #fff;
    width: 1px;
    height: 10px;
    transition: opacity .2s;
  }
  
  .blur-button-reverse {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: #692700;
    letter-spacing: normal;
    cursor: pointer;
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 5px;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    font-weight: 400;
    display: flex;
    position: relative;
  }
  
  .blur-span-reverse {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    filter: none;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 14px;
    transition: filter .2s;
    display: block;
  }
  
  .blur-span-reverse.volumeslider {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    filter: none;
    letter-spacing: .1px;
    white-space: normal;
    overflow-wrap: normal;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    transition-property: none;
    display: block;
  }
  
  .icon-reverse.icon-left {
    position: absolute;
    top: 15px;
    left: -25px;
  }
  