.heading {
  font-size: 110px;
  font-weight: 500;
  line-height: 130px;
  width: 100px;
  letter-spacing: -0.05em;
  border: 1px solid red;
  mix-blend-mode: difference;
  color: white;
  z-index: 100;
  text-transform: uppercase;
}

.textDiv {
  width: 400px;
  border: 1px solid red;
  /* overflow: hidden; */
}
