@tailwind base;
@tailwind components;
@tailwind utilities;

.borderr {
  border: 1px solid red;
}

.noScrollBar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.noScrollBar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}



.hover-section {
  background-color: #fff;
  flex-flow: column;
  height: 100vh;
  padding: 15px 15px 0;
  font-family: Neue Regrade, Arial, sans-serif;
  display: flex;
  position: relative;
  overflow: hidden;
}

.footer {
  z-index: 10;
  background-color: #0000;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  font-size: 20rem;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0;
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
}

.heading-2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-text {
  opacity: 1;
  color: #000;
  text-align: center;
  letter-spacing: -.05em;
  text-indent: -20px;
  text-transform: uppercase;
  object-fit: fill;
  border: 1px #000;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Neue Regrade, Arial, sans-serif;
  font-size: 23.8vw;
  line-height: .7;
  display: flex;
  position: relative;
  overflow: visible;
}

.image-wrapper {
  box-sizing: border-box;
  aspect-ratio: auto;
  text-align: center;
  object-fit: fill;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 40%;
  display: flex;
  position: relative;
  overflow: visible;
}

.link-wrapper {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  cursor: default;
  flex-flow: column;
  width: 60%;
  display: flex;
}

.menu {
  height: 75vh;
  padding-bottom: 10vh;
  transition: opacity .3s;
  display: flex;
}

.image-link {
  opacity: 1;
  color: #000;
  cursor: pointer;
  width: 100%;
  font-family: Neue Regrade, Arial, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.image {
  text-align: center;
  object-fit: contain;
  flex: 0 auto;
  justify-content: flex-end;
  align-self: auto;
  align-items: center;
  height: 100%;
  display: inline-flex;
  position: absolute;
  overflow: hidden;
}

.footer-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: visible;
}

.text-block {
  color: #000;
  letter-spacing: -.05em;
  border: 1px solid red;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

.section-2, .section-main {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.wrapper-footer {
  position: absolute;
  bottom: 0;
}