.styles_imageContainer {
    /* -webkit-mask-image: url("./star.svg");
    mask-image: url("./star.svg"); */
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    position: relative;
    width: 100%;
    height: 100%;
  }
  